@import 'tailwindcss';

:root {
  --background: #e9efec0c;
  --foreground: #1c1c1c;
}

@font-face {
  font-family: 'ClashDisplay';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/ClashDisplay-Bold.woff2') format('woff2');
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  /* For WebKit (Chrome & Safari). */
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  ::selection {
    background: #c4dad2;
    color: #16423c;
  }
  ::-moz-selection {
    background: #c4dad2;
    color: #16423c;
  }
}

@theme {
  --color-primary-100: #e9efec;
  --color-primary-300: #c4dad2;
  --color-primary-600: #6a9c89;
  --color-primary-900: #16423c;
}

.font-clash {
  font-family: 'ClashDisplay', sans-serif;
  font-weight: 700;
}
