@import "tailwindcss";

:root {
  --background: #fffaf3;
  --foreground: #1c1c1c;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@theme {
  --color-primary-100: #e9efec;
  --color-primary-300: #c4dad2;
  --color-primary-600: #6a9c89;
  --color-primary-900: #16423c;
}
